* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  display: block;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
